.footer{
    display: flex;
    justify-content: center;
    padding: 0rem 1.8rem ;
    position : fixed;
    top: 85%;
    width: inherit;
    z-index: 900;

    & ul{
        padding-inline-start: 0;
    }
    & li {
        display: inline;
        overflow-wrap: break-word;
    }
    & a {
        text-decoration: none;
        color: black;
    }
}