.footer{
    position : fixed;
    top: 85%;
    width: inherit;
    z-index: 900;

    & span{
}
    & li {
        display: inline;
        overflow-wrap: break-word;
    }
    & a {
        text-decoration: none;
        color: black;
    }
}