@use '../../styles/variables' as v;

.menu-container{
    display: flex;
    position: relative;
    top: 8rem;
    height: calc(100vh - 8rem);
    width: 10rem;
    flex-direction: column;
    justify-content: center;
}
.menu {
    display: flex;
    justify-content: center;
    position: fixed;
    width: inherit;
    z-index: 900;
    // align-items: center;
    // top: 91px;
    // height: -webkit-fill-available;

    & ul {
        list-style: none;
        padding-inline-start: 0;
        // display: flex;
        // flex-direction: column;
    }
    & li {
    background-color: v.$color-primary;
    border-radius: 25%;
    margin-bottom: 1rem;
    padding: 8px;
    transition: all 300ms;
    // display: flex;
    // border-radius: 25%;
    // margin-bottom: 1rem;
    // font-size: 1.6rem;
    // text-align: center;
    // width: 50px;
    // height: 48px;
    // justify-content: center;
    // align-items: center;
    // padding: 3rem 0;
    }
    & a {
        text-decoration: none;
        color: black;
    }
}