.posts-container {
  //display: none !important;
  max-width: 82rem !important;
  .passe-pourcent{
    width: 100% !important;
  }
}
.messages-container {
  width: 82rem;
  height: 88vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 11rem;
}

//.contacts-menu {
  //background-color: hotpink;
  //height: 100%;
  // &::-webkit-scrollbar {
  //         width: 1rem;
  //         background-color: #F5F5F5;
  //       };

  // &::-webkit-scrollbar-track {
  //     &::-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  //         background-color: #49c1ad;
  //         border-radius: 10px;
  //       },
  //       '&::-webkit-scrollbar-thumb': {
  //         background-color: '#03665C',
  //         border-radius: '25px',
  //       },
//}

.favorites-container {
    width: 82rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 11rem 0;
  }

@media screen and (max-width: 1250px) {
  .app-header {
    padding: 3rem 3rem !important;
  }

  .user-identity {
    display: none;
  }
  
  .messages-container {
    width: 100vw !important;
    //background-color: red;
    // margin: 0px !important;
  }

  .floating-menu {
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 12px #0000005e;

    .floating-menu--list {
      width: 400px;
      flex-direction: row;
    }
  }

  .posts-container {
    //display: none !important;
    max-width: 80% !important;
  }
  .favorites-container {
    width: 100vw !important;
    //background-color: red;
    // margin: 0px !important;
  }

  .advert-card {
    margin: auto;
  }
  .profile-container{
    width: 80% !important;
  }

}

@media screen and (max-width: 1000px) {
  .searchbar-container {
    max-width: 250px;
    /*display: none !important;*/
  }

  .adverts-navigation {
    flex-direction: column !important;
    gap: 0 !important;
    align-items: 'center' !important;
  }
}

@media screen and (max-width: 800px) {
  .searchbar-container {
    display: none !important;
  }
  .edit-typo{
    display: none !important;
  }
  .edit-icon{
    display: block !important;
  }


}
