.searchbar-icon{
  display: none !important;   
}

.posts-container {
  .passe-pourcent{
    width: 100% !important;
  }
}

.publish-icon-newpost{
  display: none !important;
}

.favorites-container {
    width: 82rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 11rem 0;
  }

@media screen and (max-width: 1250px) {
  .app-header {
    padding: 3rem 3rem !important;
  }

  .user-identity {
    display: none;
  }

  .floating-menu {
    width: 100%;
    bottom: 0;
    top: auto;
    left: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 12px #0000005e;

    .floating-menu--list {
      width: 400px;
      flex-direction: row;
    }
  }

  .favorites-container, .adverts-container, .profile-container, .posts-container {
    width: 100vw !important;
  }

  .advert-card {
    margin: auto;
  }


}

@media screen and (max-width: 1000px) {
  .searchbar-container {
    max-width: 250px;
  }

  .adverts-navigation {
    
    flex-direction: column !important;
    gap: 0 !important;
    padding-bottom: 2rem !important;
    align-items: 'center' !important;
  }
}

@media screen and (max-width: 800px) {

  .edit-typo{
    display: none !important;
  }
  .edit-icon{
    display: block !important;
  }



}

@media screen and (max-width: 620px) {
.adverts-sortbar{
gap: 0 !important;
padding: 0 ;
}
.adverts-formcontrol{
 width: 7.3rem !important; 
}
.publish-icon-newpost{
  display: block !important;
  margin: auto !important;
}
.publish-text-newpost{
  display: none !important;
}
.searchbar-container {
  display: none !important;
}
.searchbar-icon{
  display: block !important;
  text-align: right !important;   
}
.profile-toggle-button{
  margin: auto !important;
}

}

@media screen and (max-width: 500px) {
  .user-avatar-newpost{
    display: none !important;
  }
  .profile-avatar{
    width: 100px !important;
    height: auto !important;
  }
  .profile-banner{
    height: auto !important;
    width: auto !important;
    transition: ease-in 2s !important;
  }
  .profile-name-city{
    display: flex;
    position: absolute !important;
    top: 40px !important;
  }
  .profile-city{
    flex: 1 !important;
  }

}