@use '../../styles/variables' as v;

.footer {
  position: fixed;
  bottom: 24px;
  width: 15rem;
  padding: 0px 40px;
  color: v.$color-grey;

  & ul {
    padding: 0px;
  }

  & li {
    display: inline;
    overflow-wrap: break-word;

    &:after {
      content: ' • ';
    }

    & a {
      text-decoration: none;
      color: v.$color-grey;
    }
  }
}
