
#troll{
    // troll rainbow
    &:hover{
        background-image:     linear-gradient(
           to right,
           #E7484F,
           #E7484F 16.65%,
           #F68B1D 16.65%,
           #F68B1D 33.3%,
           #FCED00 33.3%,
           #FCED00 49.95%,
           #009E4F 49.95%,
           #009E4F 66.6%,
           #00AAC3 66.6%,
           #00AAC3 83.25%,
           #732982 83.25%,
           #732982 100%,
           #E7484F 100%

         );
       animation:slidebg 8s linear infinite;
     }

     @keyframes slidebg {
       to {
         background-position:20vw;
       }
     }
}